<h1>Welcome to CSE Motors</h1>
<section class="hero">
    <img src="/images/Vehicles/Delorean.jpg" alt="Featured Vehicle">
    <h2>Find Your Dream Car Today</h2>
    <div class="content-box">
        <h1>DMC Delorean</h1>
        <h3>3 Cup holders<br>Superman doors<br>fuzzy Dice!</h3>
        <button class="own-btn">Own today</button>
    </div>
</section>

<section class="featured">
    <h2>Delorean Upgrades</h2>
    <div class="vehicle-list">
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/Hub-cap.jpg" alt="Hub Cap">
            <figcaption>Hub Cap</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/Flame.jpg" alt="Flame Decal">
            <figcaption>Flame Decal</figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/Bumper_sticker.jpg" alt="Bumper Sticker">
            <figcaption>Bumper Sticker</figcaption>
        </figure>
    </div>
</section>

<section class="reviews">
    <h2>Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>