<h1>View Management</h1>

<% if (flashMessage && flashMessage.length > 0) { %>
  <div class="flash-messages">
    <% flashMessage.forEach(message => { %>
      <p><%= message %></p>
    <% }) %>
  </div>
<% } %>

<p><a href="/inv/add-classification">Add new Classification</a></p>
<p><a href="/inv/add-inventory">Add New Vehicle in the Inventary</a></p>